body{
    background-image: url(img/100x100.gif);
    background-size: cover;
}
h1{
    background-color: tomato;
}
div{
   background-color: darkorange;
   left: 200px;
   top: 200px;
   width: 1000px;
   height: 0px;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:deeppink;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
 .card1 {
    left: 0px;
    top: 0px;
    width: 1000px;
    height: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }  
.card2 {
    left: 200px;
    top: 200px;
    width: 1000px;
    height: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }  
}
